@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}
ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrap {
  width: 100%;
}
body {
  font-family: 'Nunito', sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
/* header */

.header {
  width: 100%;
  height: 10vh;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.logo {
  width: 15vw;
  height: 10vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content span p {
  float: right;
  margin-top: 3px;
  margin-left: 8px;
}

.hoverable span {
  margin-right: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

.menu {
  width: 30vw;
  height: 5vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: absolute;
  left: 300px;
}
.menu li {
  float: left;
  margin-right: 4vw;
  cursor: pointer;
}
.menu li a {
  color: black;
}
.aboutUs:hover {
  color: #ff9800;
}
.underline {
  /* color: #fff; */
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
}
.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 22px;
  background: #ff9800;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover {
  color: #ff9800;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}
.Profile {
  width: 20vw;
  height: 5vh;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav_img img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.where_text {
  margin-top: 10vh;
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  /* margin-top: 4vh; */
  width: 100%;
  height: 4em;
  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.where_text span {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  color: #fff;
  display: block;
  padding-top: 3.5rem;
}
ul.breadcrumb {
  padding: 35px 30px;
  padding-left: 80px;
}
ul.breadcrumb li {
  display: inline-block;

  font-size: 15px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: rgba(0, 0, 0, 0.286);
  content: '>';
}
ul.breadcrumb li a {
  color: rgba(0, 0, 0, 0.286);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #ff9800;
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  width: 900px;
  height: 70px;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin: auto;
}

.search-input {
  flex-grow: 1;
  border: none;
  height: 100%;
  padding: 8px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.search-input option {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.search-button {
  background-color: #f2a341;
  color: white;
  border: none;
  height: 100%;
  padding: 8px;
  cursor: pointer;
  width: 80px;
}
.hostThat {
  width: 20rem;
  height: 2rem;
  margin-left: 80px;
  margin-top: 2rem;
}
/* cardSlider */
.swiper-wrapper {
  width: 100%;
  height: 135vh; /*원래는 150vh*/
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgba(0, 0, 0, 0.2); */
}
.slide_box {
  width: 88vw;
  height: 120vh;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25vw;
  height: 50vh;
  /* background-color: antiquewhite; */
  /* border-radius: 30px; */
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-bottom: 0;
  margin: 0 32px;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: box-shadow 0.3s ease; /*쉐도우 효과에 전환 효과를 추가. */
  padding-bottom: 2rem;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* 커서를 올렸을 때 쉐도우 효과를 적용 */
  border-color: #f2a341;
}

.card:hover .card_bottom {
  background-color: #f2a341;
}

.card p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.card p strong,
h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.date {
  display: flex;
  justify-content: space-around;
}
.card_bottom {
  width: 25vw;
  height: 7vh;
  /* border-bottom-left-radius: 29px; */
  /* border-bottom-right-radius: 29px; */
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  transition: border-color 0.3s ease;
}

.card_bottom i {
  color: #fff;
  font-size: xx-large;
  float: right;
  margin-right: 32px;
  margin-top: 8px;
}

.img_info {
  width: 25vw;
  height: 15vh;
  /* background-color: #62b993; */
  position: relative;
  margin-bottom: 16px;
}
.card__image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;

  left: 10px;
  border-radius: 50%;
  border: 2px solid #ff9800;
  display: grid;
  place-items: center;
}

.card__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  width: 23vw;
  height: 20vh;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.card__title {
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;

  left: 112px;
  line-height: 25px;
}
.star_box {
  position: absolute;
  right: 16px;
  margin-bottom: 16px;
  display: block;
  line-height: 32px;
}
.card__name {
  text-align: center;
  /* color: var(--color); */
}

.card__text {
  text-align: left;
  font-size: 16px;
  margin: 16px 0;
}

.card_btn {
  width: 55vw;
  height: 10vh;
  background-color: rgba(211, 18, 18, 0.3);
  display: flex;
  align-items: center;
  font-size: large;
}
/* pagination */
.pagination {
  /* display: inline-block; 처음에는 있었음*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.pagination a.active {
  background-color: #e6c339;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
/* footer */
.footer {
  width: 100%;
  height: 30vh;
  background-color: #72a689;
  display: flex;
  justify-content: space-around;
}

.footer_text {
  width: 10vw;
  height: 25vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: 5vh;
  line-height: 2.5rem;
  color: #fff;
}
.logo_02 {
  width: 15vw;
  height: 10vh;
  padding-top: 0;
  box-sizing: border-box;
}

.sns li {
  font-size: x-large;
}
