@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrap {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
/* header */

.header {
  width: 100%;
  height: 10vh;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom: 1px solid rgba(128, 128, 128, 0.568); */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.logo {
  width: 15vw;
  height: 10vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content span p {
  float: right;
  margin-top: 3px;
  margin-left: 8px;
}
.material-symbols-outlined {
}
.hoverable span {
  margin-right: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.menu {
  width: 30vw;
  height: 5vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: absolute;
  left: 300px;
}
.menu li {
  float: left;
  margin-right: 4vw;
  cursor: pointer;
}
.menu li a {
  color: black;
}
.aboutUs:hover {
  color: #ff9800;
}
.underline {
  /* color: #fff; */
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
}
.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 22px;
  background: #ff9800;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover {
  color: #ff9800;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}
.Profile {
  width: 20vw;
  height: 5vh;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav_img img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.where_text {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 17vh;
}
ul.breadcrumb {
  padding: 35px 30px;
  padding-left: 80px;
}
ul.breadcrumb li {
  display: inline-block;

  font-size: 15px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: rgba(0, 0, 0, 0.286);
  content: '>';
}
ul.breadcrumb li a {
  color: rgba(0, 0, 0, 0.286);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #ff9800;
  text-decoration: underline;
}

/* main_input  */

.main_input {
  width: 100%;
  height: 130vh;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.input_wrap {
  width: 80%;
  height: 130vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.input_left {
  width: 50%;
  height: 130vh;
  padding-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.input_left div {
  margin-left: 45px;
}
.input_right div {
  margin-left: 45px;
}
.input_right {
  width: 50%;
  height: 130vh;
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding-top: 20px;
}
.textarea_address {
  border: 2px solid rgba(0, 0, 0, 0.09);
  padding: 5px 5px;
  width: 500px;
  height: 45px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 35px;
  resize: none;
}
.textarea_plan {
  border: 2px solid rgba(0, 0, 0, 0.09);
  padding: 5px 5px;
  width: 500px;
  height: 170px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: none;
}
.textarea_you {
  border: 2px solid rgba(0, 0, 0, 0.09);
  padding: 5px 5px;
  width: 500px;
  height: 170px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: none;
}

.textarea_additional {
  border: 2px solid rgba(0, 0, 0, 0.09);
  padding: 5px 5px;
  width: 500px;
  height: 170px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: none;
}
#open {
  width: 500px;
  height: 50px;
  background-color: #5196a6;
  margin-left: 45px;
  border-radius: 20px;
  cursor: pointer;

  color: #fff;
  /* font-size: 45px; */
  transition: background-color 0.5s ease;
}
#open:hover {
  background-color: #3f8797;
}
.input_wrap span {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 580;
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.container {
  position: relative;
  border: 3px dashed rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 5px 5px;
  width: 500px;
  height: 370px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease;
}
.container img {
  max-width: 100%; /* 이미지를 박스 내에 최대 크기로 조절 */
  max-height: 100%;
}

.image-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.insert-button {
  width: 100px;
  height: 45px;
  background-color: #ff9800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insert-button img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.insert-button:hover {
  background-color: #e08907;
}
.modal {
  background-color: #fff;
  width: 400px;
  height: 350px;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
}

.modal p {
  margin-bottom: 20px;
}

#close_ad {
  padding: 10px 20px;
  background-color: #5196a6;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 320px;
  height: 40px;
  margin: auto;
  border-radius: 20px;
}
#close_ad:hover {
  background-color: #3f8797;
}
#close {
  position: absolute;
  top: 15px;
  right: 15px;
  size: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
#close:hover {
  background-color: #3f8797;
}
.modal-img {
  width: 400px;
  height: 180px;
  background-color: #5c1919;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal img {
  max-width: 100%;
  /* margin-top: 20px; */
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: grayscale(20%);
}
/* footer */
.footer {
  width: 100%;
  height: 30vh;
  background-color: #72a689;
  display: flex;
  justify-content: space-around;
}

.footer_text {
  width: 10vw;
  height: 25vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: 5vh;
  line-height: 40px;
  color: #fff;
}
.logo_02 {
  width: 15vw;
  height: 10vh;
  padding-top: 0;
  box-sizing: border-box;
}

.sns li {
  font-size: x-large;
}
