<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
 <mapper namespace="com.mycompany.app.infra.findhostview.FindHostViewMapper">

<resultMap id="resultMapObj" type="com.mycompany.app.infra.findhostview.FindHostView"></resultMap>

		<sql id="ddd">
			seq
			,address
			,maxPeople
			,aboutMe
			,aboutPlan
			,note
			,language
			,budget
			,date
			,days
			,type_seq
			,region_seq
			,member_seq
		</sql>
		
		 <sql id="abc">
   		seq
    	,lastName
    	
    	,gender
    	,age
    </sql>
		
		
		<sql id="selectCommon">
			FROM
				beingHosted a
		    
            JOIN 
                abc b ON a.seq = b.member_seq
			WHERE 1=1
			 	<if test="shKeyword != null and !shKeyword.equals('')">AND id LIKE CONCAT('%',#{shKeyword},'%')</if>			
		</sql>
		
		<select id="selectOneCount" resultType="Integer">
			SELECT count(*)
			<include refid="selectCommon" />
	    </select>
	   <select id="selectCard" resultMap="resultMapObj">
    SELECT
        a.seq AS a_seq,
        a.address,
        a.aboutPlan,
        a.budget,
        a.date,
        a.days,
        a.type_seq,
        a.region_seq,
        a.member_Seq,
        <include refid="ddd" />,
        <include refid="abc" />
    FROM
        beingHosted a
    JOIN
        member b ON a.member_seq = b.seq
    WHERE 1=1
</select>

	    
	   
	    
	     <select id="selectPost" resultMap="resultMapObj">
	    	SELECT
	    		 seq
	    		,aboutMe
		    	,aboutPlan
		    	,note
		    	,language
		    	,type_seq
			    ,region_seq
		    	
			 From 
			 	beingHosted
			WHERE 1=1 
				AND seq = #{seq}
	    </select>
	    
	    <select id="selectList" resultMap="resultMapObj">
			SELECT aa.* FROM (   	
		   		SELECT
					<include refid="ddd" />
		   			<include refid="selectCommon" />
			) aa
			LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   		</select>


		<select id="selectOne" resultMap="resultMapObj">
	   		SELECT
				<include refid="ddd" />
	   		FROM
	   			beingHosted
			WHERE 1=1
				AND seq = #{seq}	
   		</select>   

		<update id="update">
	   		UPDATE beingHosted
	   		SET
	   			name = #{name}
			WHERE
				seq = #{seq}	
   		</update>   	
   	
	   	<delete id="delete">
	   		delete from beingHosted WHERE seq = #{seq}	
	   	</delete>   	
   	 
	   	<update id="uelete">
	   		UPDATE beingHosted
	   		SET
	   			member_seq= 1
			WHERE
				seq = #{seq}	
	   	</update>   	
	   	
	   	<insert id="insert">
	   		INSERT INTO beingHosted (
				address
				,maxPeople
				,aboutMe
				,aboutPlan
				,note
				,language
				,member_seq
				,budget
				,date
				,days
				,type_seq
				,region_seq
				
	   			
	   		) values (
	   		   #{address}
	   		   ,#{maxPeople}
	   		   ,#{aboutMe}
	   		   ,#{aboutPlan}
	   		   ,#{note}
	   		   ,#{language}
	   		   ,#{budget}
	   		   ,#{date}
	   		   ,#{days}
	   		   ,#{type_seq}
	   		   ,#{region_seq}
	   		   ,#{member_seq}
	   		)
	   	</insert>   	
   
		<select id="selectListCachedFindHostViewArrayList" resultMap="resultMapObj">
			
			SELECT
			
				address
				,maxPeople
				,aboutMe
				,aboutPlan
				,note
				,language
				,budget
				,date
				,days
				,type_seq
				,region_seq
				
			FROM
				beingHosted
		
	    </select>
	    
	


</mapper>  