<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mycompany.app.infra.member.MemberMapper">
 
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.member.Member"></resultMap>
    
    <sql id="abc">
    	seq
    	,id
    	,password
    	,firstName
    	,lastName
    	,emailFull
    	,gender
    	,age
    </sql>
    
   <sql id ="selectCommon">
   		FROM    
	    	member
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND id LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

   	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>

   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="abc" />
	   			<include refid="selectCommon" />
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	
	</select>
	
   	<select id="selectOne" resultMap="resultMapObj">
   		SELECT
			<include refid="abc" />
   		FROM
   			member
		WHERE 1=1
			AND seq = #{seq}	
   	</select>   	
   	
   	<update id="update">
   		UPDATE member
   		SET
   			id = #{id}
		WHERE
			seq = #{seq}	
   	</update>   	
   	
   	<delete id="delete">
   		delete from member WHERE seq = #{seq}	
   	</delete>   	
   	 
   	<update id="uelete">
   		UPDATE member
   		SET
   			seq= 1
		WHERE
			seq = #{seq}	
   	</update>   	
   	
   	<insert id="insert">
   		INSERT INTO member (
   		
    	 id
    	,password
    	,firstName
    	,lastName
    	,emailFull
    	,gender
    	,age
   		) values (
   		    
   		   #{id}
   		   ,#{password}
   		   ,#{firstName}
   		   ,#{lastName}
   		   ,#{emailFull}
   		   ,#{gender}
   		   ,#{age}
   		)
   		<selectKey resultType="String" keyProperty="seq" order="AFTER">
         SELECT last_insert_id()
      </selectKey>
   	</insert>   	

</mapper>